<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <form action="" name="chatForm">
      <input class="user-name" type="text" name="first-name" />
      <input class="msg" type="text" name="msg" />
      <button>Send</button>
    </form>
    <div class="chat-block">
      <div class="chat-block__typing"></div>
      <div class="chat-block__info">Чат:</div>
      <div class="chat-block__content"></div>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
