<!DOCTYPE html>
<html>
  <head>
    <title>Session</title>
    <link rel='stylesheet' href='/style/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.2/axios.min.js"></script>
  </head>
  <body>
    <div class="block-auth" action="POST">
      <h2>Authorization</h2>
      <form name="authForm">
       <input type="text" name="login" placeholder="login">
      <input type="text" name="password" placeholder="password">
      <button type="submit">Send</button>
    </form></div>
    <div class="block-reg" action="POST">
      <h2>Registration</h2>
      <form name="regForm">
      <input type="text" name="name" placeholder="name">
      <input type="text" name="login" placeholder="login">
      <input type="text" name="password" placeholder="password">
      <button type="submit">Send</button>
    </form></div>
    <div class="block-exit hidden">
      <form name="exitForm">
        <button type="submit">EXIT</button>
      </form>
    </div>
   <script src="/js/main.js"></script>
  </body>
</html>